.traduire-sans-migraine-list-languages {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 0.7rem;
    margin-bottom: 3rem;
}

.traduire-sans-migraine-list-languages .language {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0;
    align-items: center;
}

.traduire-sans-migraine-list-languages .language .right-column {
    width: 100%;
}

.warning-issues {
    text-decoration: underline;
}

.traduire-sans-migraine-list-languages .traduire-sans-migraine-alert {
    margin-bottom: 0 !important;
}