.traduire-sans-migraine-tooltip-content {
    display: none;
}

.traduire-sans-migraine-tooltip-content .traduire-sans-migraine-alert {
    margin: 0 !important;
}

.traduire-sans-migraine-tooltip-content--visible {
    display: block;
    position: absolute;
    z-index: 1000000;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    margin-top: 10px;
    transition: all 0.3s ease;
    top: 100%;
}

.traduire-sans-migraine-tooltip-content--visible.top {
    transform: translateY(-100%);
    top: -100%;
}

.traduire-sans-migraine-tooltip {
    position: relative;
    display: block;
}

.traduire-sans-migraine-tooltip-content-padding {
    padding: 0.5rem;
}