* {
    --traduire-sans-migraine-success-background: rgb(196, 249, 212);
    --traduire-sans-migraine-success-color: #3EC497;
    --traduire-sans-migraine-success-border: #c3e6cb;

    --traduire-sans-migraine-primary-background: #7795ee;
    --traduire-sans-migraine-primary-color: #7795ee;
    --traduire-sans-migraine-primary-border: #7795ee;

    --traduire-sans-migraine-warning-background: rgb(248, 151, 38);
    --traduire-sans-migraine-warning-color: #f8970b;
    --traduire-sans-migraine-warning-border: #f59d20;

    --traduire-sans-migraine-danger-background: rgb(255, 107, 107);
    --traduire-sans-migraine-danger-color: #ff6b6b;
    --traduire-sans-migraine-danger-border: #ff7f7f;

    --traduire-sans-migraine-disabled-background: rgb(233, 236, 239);
    --traduire-sans-migraine-disabled-border: rgb(233, 236, 239);
    --traduire-sans-migraine-disabled-color: rgb(158, 158, 158);

    --traduire-sans-migraine-success-button-background: #3EC497;
    --traduire-sans-migraine-success-button-color: #3EC497;
    --traduire-sans-migraine-success-button-border: #c3e6cb;

    --traduire-sans-migraine-ghost-background: rgb(255, 255, 255);
    --traduire-sans-migraine-ghost-border: #e1e1e1;
    --traduire-sans-migraine-ghost-color: black;
    --traduire-sans-migraine-ghost-color-hover: #7795ee;

    --traduire-sans-migraine-primary-step-background: rgb(0,122,175);
    --traduire-sans-migraine-primary-step-background-gradient: linear-gradient(90deg, rgb(1, 154, 221) 0%, rgb(6, 178, 213) 50%, rgb(142, 234, 255) 100%);

    --traduire-sans-migraine-danger-step-background: rgb(185,30,30);
    --traduire-sans-migraine-danger-step-background-gradient: linear-gradient(90deg, rgba(185, 30, 30, 0.69) 0%, rgba(212, 20, 20, 0.78) 50%, rgba(255,139,139,1) 100%);

    --traduire-sans-migraine-success-step-background: rgb(60,215,184);
    --traduire-sans-migraine-success-step-background-gradient: linear-gradient(90deg, rgba(60,215,184,1) 0%, rgba(108,242,184,1) 50%, rgba(158,255,201,1) 100%);


    --traduire-sans-migraine-primary-suggestions-background: #7795ee57;
    --traduire-sans-migraine-success-suggestions-background: rgb(196, 249, 212);

    --traduire-sans-migraine-error-notification-background: rgb(255, 162, 162);
    --traduire-sans-migraine-success-notification-background: rgb(196, 249, 212);
    --traduire-sans-migraine-info-notification-background: rgb(159, 183, 255);
}

@-moz-keyframes spin-tsm {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin-tsm {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
}
@keyframes spin-tsm {
    from {transform:rotate(0deg);}
    to {transform:rotate(359deg);}
}