.traduire-sans-migraine-step .progress-bar {
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: #d9eaff54;
}

.traduire-sans-migraine-step .progress-bar .progress-bar-fill {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.traduire-sans-migraine-step .indicator-percentage {
    margin-bottom: 0.2rem;
    font-size: 14px;
    font-weight: 400;
}

.traduire-sans-migraine-step .indicator-text {
    margin-top: 0.2rem;
    font-weight: lighter;
}

.progress-bar-fill--done {
    background: var(--traduire-sans-migraine-success-step-background);
    background: var(--traduire-sans-migraine-success-step-background-gradient);
}

.progress-bar-fill--error {
    background: var(--traduire-sans-migraine-danger-step-background);
    background: var(--traduire-sans-migraine-danger-step-background-gradient);
}

.progress-bar-fill--progress {
    background: var(--traduire-sans-migraine-primary-step-background);
    background: var(--traduire-sans-migraine-primary-step-background-gradient);
}