.menu-language {
    display: flex;
    gap: 1rem
}

.menu-language.list {
    flex-direction: column;
    background: #fff;
    width: max-content;
    position: relative;
}

.menu-language a {
    display: flex;
    gap: .2rem;
    align-items: center;
    text-decoration: none
}

.menu-language.list .sub-menu-language {
    display: none
}

.menu-language.list:hover .sub-menu-language {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: #fff;
    width: max-content;
    position: absolute;
}