.menu-language {
    display: flex;
    gap: 1rem
}

.menu-language.list {
    flex-direction: column;
    background: #fff;
    width: max-content;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-language a {
    display: flex;
    gap: .2rem;
    align-items: center;
    text-decoration: none
}

.menu-language.list .sub-menu-language {
    display: none;
    z-index: 1000;
}

.menu-language.list:hover .sub-menu-language {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    background: #fff;
    width: calc(100% + 1rem);
    position: absolute;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    top: 100%;
    right: 0;
    padding: 1rem;
}