.traduire-sans-migraine-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traduire-sans-migraine-modal__content {
    width: 50vw;
    height: 75vh;
    position: relative;
    z-index: 100001;
    overflow: scroll;


    border: 1px solid rgba(255, 255, 255, .7);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    padding: 35px;
}

.traduire-sans-migraine-modal__content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.traduire-sans-migraine-modal__content-header-title {
    font-size: 20px;
    font-weight: 600;
}

.traduire-sans-migraine-modal__content-header-close {
    cursor: pointer;
}

.traduire-sans-migraine-modal__content-header-close:hover {
    color: #ff0000;
}

.traduire-sans-migraine-modal__content-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.traduire-sans-migraine-modal__content-body-text {
    width: 100%;
}

.traduire-sans-migraine-modal__header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.traduire-sans-migraine-modal__content-header-buttons {
    display: flex;
    gap: 1rem;
}


.traduire-sans-migraine-modal-size-little .traduire-sans-migraine-modal__content {
    height: auto;
}

.traduire-sans-migraine-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
}